.content{
    display: flex;
}

.sidebar {
    font-size: 2rem;
    background-color: gray;
    padding: 5px 10px;
    border: 2px outset black;
    width: 300px; /* largeur */
    height: 350px; /* longueur */
}
.title{
    position: absolute;
    box-sizing: border-box;
}

.main-content {
    font-size: 2rem;
    background-color: gray;
    padding: 5px 10px;
    border: 2px outset black;
    width: 1000px; /* largeur */
    height: 500px; /* longueur */
    margin-left: 30px; /* espace entre la sidebar et le contenu principal */
}
.navbar {
    position: absolute;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    
}
.navbar .navbar-list ul {
    display: flex;
    

}
.navbar-list ul li{
    margin: 15px;
}