.content{
    display: flex;
    gap: 10px; /* Espace entre la sidebar et le contenu principal */
}
.sidebar {
    
    font-size: 2rem;
    background-color: gray;
    padding: 5px 5px;
    border: 2px outset black;
    overflow: hidden;
    width: 200px; /* largeur */
    height: 600px; /* longueur */
    
}
.sidebar .active{ max-height: 600px;}
.info-bar{
    align-items: center;
    text-align: center;
}

.photo-box img{
    border-radius: 30px;
    width: 100px;
   
}
.photo-box {
    width: 100px;
}
.nom{
    font-size: 30px;
    text-align: center;
    margin: 7 7 15px ;
}
.title{
    box-sizing: border-box;
    color: white;
}
.info{font-size: 15px;}
.main-content {
    font-size: 2rem;
    background-color: gray;
    display: flex;
    padding: 5px 10px;
    border: 2px outset black;
    overflow: hidden;
    width: 900px; /* largeur */
    height: 600px; /* longueur */
}
.navbar {
    position: absolute;
    padding: 5px;
    resize: none; /* Empêche le redimensionnement */
    overflow: hidden; /* Masque le débordement */
    display: flex;
    width: 100%;
    box-sizing: border-box;
    
}
.navbar .navbar-list ul {
    display: flex;
    list-style-type : none;/* enleve les points devant les nom*/
    justify-content: space-evenly;
}
.navbar-list ul li{
    margin: 15px;
}
.info-list{
    list-style-type : none;/* enleve les points devant les nom*/
    justify-content: space-evenly;
}
.page{
    font-size: 2rem;
    display: inline;
    background-color: gray;
    padding: 5px 5px;
    border: 2px hidden black;
    overflow: hidden;
    margin-top: 90px;
    width: 900px; /* largeur */
    height: 600px; /* longueur */
}




.footer{
    background-color: #222;
    color: white;
    display: flex;
    padding: 10px;
    font-size: 0.9em;
    margin: 0;
    box-sizing: border-box;
    justify-content: space-between;
}
